.categories-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  padding-top: 5px;
  margin: 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-page {
  padding: 1rem;
}

.category-page h1 {
  font-size: 3rem;
  margin: 0;
  padding-left: 5rem;
  word-wrap: break-word;
}

.categories-button:hover {
  color: #0056b3;
}

.dropdown-button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  margin-bottom: 20px;
  color: white;
  padding: 10px;
  position: absolute;
}

.dropdown-item {
  display: block;
  padding: 8px 12px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item.active {
  background-color: #007bff;
  color: white;
}

#loading {
  display: fixed;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .categories-button {
    top: 15px;
    right: 15px;
    padding: 15px;
  }

  .dropdown-menu {
    padding: 8px;
    width: 100%;
    background-color: rgba(1, 17, 1, 0.638);
    border-radius: 5px;
    border: none;
  }

  .dropdown-item {
    padding: 8px;
    font-size: 14px;
  }
  .category-page h1 {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .categories-button {
    top: 10px;
    right: 10px;
    padding: 10px;
  }

  .dropdown-menu {
    padding: 5px;
  }

  .dropdown-item {
    padding: 8px;
    font-size: 12px;
  }
  .category-page h1 {
    padding: 2rem;
  }
}
