.book-search {
  display: inline;
  margin-right: 10px;
  border-radius: 5px;
  padding: 6rem;
}

.book-search input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #390eb0;
  border-radius: 5px;
  margin-right: 10px;
  width: 350px;
}

.book-search button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-search button:hover {
  background-color: #45a049;
}

button {
  padding: 12px 25px;
  margin: 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: blue;
}

.go-back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .book-search input {
    width: 100%;
    font-size: 16px;
  }

  .home h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 10rem;
  }

  .book-search {
    padding: 3rem;
    display: block;
  }

  .book-search button {
    width: 100%;
    margin-top: 10px;
  }

  .book-search .book-card {
    width: 100%;
    height: auto;
    padding: 10px;
    z-index: 15;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .go-back-btn {
    top: 15px;
    left: 15px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .home h1 {
    font-size: 3.5rem;
    margin-top: 30px;
  }
  .book-search input {
    font-size: 14px;
    width: 100%;
  }

  .book-search button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .book-search {
    padding: 3.5rem;
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 1rem;
  }

  button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .go-back-btn {
    top: 10px;
    left: 10px;
    padding: 6px;
  }
}
