body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("/img/book.img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  overflow-x: hidden;
}

.home h1 {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .book-search {
    padding: 0;
  }

  .book-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .favourites-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .cart-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .book-card {
    width: 100%;
    height: auto;
  }

  .book-card img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 4rem;
  }

  button {
    font-size: 14px;
    padding: 10px 15px;
  }
  .total-price {
    font-size: 1rem;
    padding: 3px;
    top: auto;
    bottom: 10px;
    right: auto;
    left: 10px;
  }
}

@media screen and (max-width: 480px) {
  body {
    flex-direction: column;
    padding: 5px;
  }

  .book-search {
    padding: 0;
  }
  .book-list {
    grid-template-columns: repeat(1fr);
    gap: 10px;
  }
  .favourites-items {
    grid-template-columns: repeat(1fr);
    gap: 10px;
  }

  .cart-items {
    grid-template-columns: repeat(1fr);
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  h1 {
    font-size: 3rem;
  }

  button {
    font-size: 12px;
    padding: 8px 12px;
  }

  .book-card {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .book-card img {
    width: 100%;
    height: auto;
  }

  .total-price {
    font-size: 1rem;
    padding: 3px;
    top: auto;
    bottom: 10px;
    right: auto;
    left: 10px;
  }
}
