/* src/App.css */
body {
  background-image: url("src/img/book.img.jpg");
  background-size: cover;
}

/* Genel App Tasarımı */
.home {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  position: fixed;
  color: blue;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

button {
  padding: 12px 25px;
  margin: 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 350px;
  height: 450px;
}

.book-card img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.book-card .book-details {
  text-align: center;
  padding: 10px 0;
}

.book-card h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.book-card .view-details-btn {
  display: inline-block;
  margin-top: 10px;
  background-color: #4caf50;
  padding: 8px 16px;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.book-card .view-details-btn :hover {
  background-color: #45a049;
}

/* Navbar Tasarımı */
.navbar {
  padding: 10px 20px;
  position: fixed; /* Fixed position */
  top: 0; /* Position it at the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a:hover {
  text-decoration: underline;
  color: #4caf50;
}

.book-list::-webkit-scrollbar {
  width: 8px;
}

.book-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.book-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  margin: 20px 0;
  width: 80%;
}

.book-search {
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
}

.book-search input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #390eb0;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
}

.book-search button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-search button:hover {
  background-color: #45a049;
}

.categories {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.category-buttons button.active {
  background-color: #007bff;
  color: white;
}
